{% extends "inicio.html" %}
{% load bootstrap5 %}
{% block principal %}

  <h1 class="text-body-emphasis">Cursos online</h1>
  <!--! Usar tamplete tag com if: Mas Não Funciona, não mostra essa msg na página-->
  {% if sucesso %}
    <p class="alert alert-success">Cadastro realizado com sucesso!</p>
  {% else %}

  <form action="" method="POST" id="form">
    {% csrf_token %}
    <!-- Inserir a ligação com o Django BootStrap Forms -->
    {% bootstrap_form form %}
    <button type="submit" class="btn btn-primary btn-block">Finalizar cadastro</button>
  </form>
 
  {% endif %}
{% endblock %}